@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';

$block: '.#{$namespace}feed-custom-switcher';

$clearIconSize: 11px;

#{$block} {
    $root: &;

    &__custom-switcher {
        @include text-size(body-2);
        @include focusable();
        position: relative;

        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--g-color-base-background);
        border: 1px solid var(--g-color-base-background);
        border-radius: var(--g-border-radius-xl);
        width: 100%;
        line-height: 42px;
        text-align: initial;
        font-family: inherit;
        padding: 0;
        margin: 0;

        // TODO delete this section after Select can customize the popup list
        & + .g-popup.g-popup_open {
            //stylelint-disable-next-line declaration-no-important
            position: absolute !important;
            //stylelint-disable-next-line declaration-no-important
            inset: auto !important;
            //stylelint-disable-next-line declaration-no-important
            transform: translate3d(0, 4px, 0) !important;
        }

        .g-select-clear {
            width: $clearIconSize;
            height: $clearIconSize;
            margin-right: 9px;
        }
    }

    &__custom-switcher:hover {
        border-color: var(--g-color-base-generic-hover);
        cursor: pointer;
    }

    &__custom-switcher-element {
        color: var(--g-color-text-primary);

        &_content {
            display: inline-block;
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 $indentXXS;
        }

        &_counter {
            align-items: center;
            height: $indentS;
            padding: 0 6px;
            background-color: var(--g-color-base-selection);
            border-radius: 4px;

            transition: backgound-color 0.1s linear;

            @include text-size(body-1);
        }

        &_arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 30px;
            height: 100%;
        }

        &_overlay {
            position: absolute;
            inset: 0;
            border-radius: var(--g-border-radius-xl);
            background: transparent;
            border: none;
            cursor: pointer;
        }
    }

    &__switcher-arrow {
        width: $indentXS;
        height: $indentXS;
    }

    &__clear {
        width: $clearIconSize;
        height: $clearIconSize;
        color: var(--g-color-text-primary);
    }
}
