@import '../../../styles/variables.scss';

$block: '.#{$namespace}cta';

#{$block} {
    $root: &;

    &__card {
        display: flex;
        background-color: var(--yc-color-base-float);
        border-radius: var(--bc-border-radius);
        min-height: 80px;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        flex-grow: 1;
        padding: $indentM;
        margin-right: $indentXS;
    }

    &__card:last-child {
        margin-right: 0;
    }

    &__content {
        display: flex;
        flex-direction: row;
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        &__content {
            flex-wrap: wrap;
        }

        &__card {
            width: calc((100% / 2) - (#{$indentXS} / 2));
            flex-grow: 1;
            margin-right: $indentXS;
        }

        &__card:nth-child(2n) {
            margin-right: 0;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &__content {
            flex-direction: column;
        }

        &__card {
            margin-bottom: $indentXS;
            margin-right: 0;
            width: 100%;
        }

        &__card:last-child {
            margin-bottom: 0;
        }
    }
}
