@import '../../../styles/variables.scss';

$block: '.#{$namespace}cta';

#{$block} {
    $root: &;

    &__card {
        display: flex;
        background-color: var(--pc-color-base-silver);
        border-radius: var(--bc-border-radius);
        min-height: 80px;
        align-content: center;
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        justify-content: center;
        flex-direction: column;
        flex-grow: 1;
        padding: $indentM;
        width: calc((100% / 3) - (#{$indentM} / 2));
    }

    &__content {
        display: flex;
        flex-flow: row wrap;
        gap: $indentXS;
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        &__content {
            flex-wrap: wrap;
        }

        &__card {
            width: calc((100% / 2) - #{$indentXS});
            flex-grow: 1;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm')) {
        &__content {
            flex-direction: column;
        }

        &__card {
            width: 100%;
        }
    }
}
