@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

@keyframes AuthPrompt_fade-in {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes AuthPrompt_fade-out {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

.AuthPrompt {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden; // prevent scrollbar
    position: absolute;
    bottom: 0;
    $duration: $animationDuration * 2;

    &__content {
        @extend %shadow;
        display: flex;
        flex-flow: row wrap;
        gap: $indentXS;
        align-items: center;
        margin: $indentSM;
        padding: $indentXS $indentS;
        border-radius: $borderRadius;
        font-size: 1.25em;

        .AuthPrompt_fade-in > & {
            opacity: 0;
            transform: translateY(100%);
            animation: AuthPrompt_fade-in $duration forwards;
        }

        .AuthPrompt_fade-out > & {
            opacity: 1;
            transform: translateY(0%);
            animation: AuthPrompt_fade-out $duration forwards;
        }
    }
}
