@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

@keyframes AuthPrompt_open {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes AuthPrompt_close {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

.AuthPrompt {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden; // prevent scrollbar
    position: absolute;
    bottom: 0;

    &:not(.AuthPrompt_mounted) {
        display: none;
    }

    &__content {
        $duration: $animationDuration * 2;
        @extend %shadow;
        display: flex;
        flex-flow: row wrap;
        gap: $indentXS;
        align-items: center;
        margin: $indentSM;
        padding: $indentXS $indentS;
        border-radius: $borderRadius;
        font-size: 1.25em;

        .AuthPrompt_open > & {
            opacity: 0;
            transform: translateY(100%);
            animation: AuthPrompt_open $duration forwards;
        }

        .AuthPrompt_close > & {
            opacity: 1;
            transform: translateY(0%);
            animation: AuthPrompt_close $duration forwards;
        }
    }
}

.AuthPrompt_close {
    // let other content receive Pointer events
    pointer-events: none;
}
