@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';

$block: '.#{$namespace}feed-controls';

#{$block} {
    &__header {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: var(--bc-border-radius);
        padding-bottom: $indentS;
        z-index: 10;
    }

    &__header-item {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &_title {
            @include text-size(display-4);

            padding-top: 112px;
            padding-bottom: $indentXXL;
        }
    }

    &__search {
        width: 100%;
        max-width: 100%;
    }

    &__filter-item {
        margin-right: $indentXXXS;
        margin-left: $indentXXXS;
        margin-bottom: $indentXXS;
        min-width: 230px;
        flex-grow: 1;

        @media (min-width: map-get($gridBreakpoints, 'sm')) {
            max-width: 240px;
        }

        &_width-auto {
            width: auto;
            min-width: auto;
            flex-grow: 0;
        }
    }

    &__saved-only-button_savedOnly {
        @include monochrome-button();

        &:focus {
            color: var(--g-color-base-background);
        }
    }

    &__icon {
        color: var(--g-color-base-brand);

        &_savedOnly {
            color: var(--g-color-base-background);
        }
    }
}
