@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';

$block: '.#{$namespace}feed-controls';

#{$block} {
    $root: &;

    $selectorItemBorderRadius: 8px;
    $selectorContainerBorderRadius: 12px;
    $popupMaxHeight: 500px;

    &__header {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: var(--bc-border-radius);
        padding-bottom: $indentS;
        z-index: 10;
    }

    &__header-item {
        $block: &;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &_title {
            @include text-size(display-4);

            padding-top: 112px;
            padding-bottom: $indentXXL;
        }
    }

    &__search {
        width: 100%;
        max-width: 100%;
    }

    &__select {
        width: 100%;
    }

    &__popup {
        @include add-specificity(&) {
            max-height: $popupMaxHeight;
            border-radius: $selectorContainerBorderRadius;

            .g-select-list {
                &::-webkit-scrollbar {
                    display: none;
                }

                .g-list {
                    max-height: calc(
                        $popupMaxHeight - var(--g-text-body-3-line-height) - $indentXXS
                    );
                }
            }

            .g-list__item {
                margin: 4px;
                border-radius: $selectorItemBorderRadius;
            }
        }

        &_isMobile {
            @include add-specificity(&) {
                max-height: inherit;
            }

            #{$root}__popup-filter {
                position: relative;
                border: none;

                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 0px;
                    border-bottom: 2px solid var(--g-color-line-generic);
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                    width: 100vw;
                    height: 2px;
                    transform: translateX(-50%);
                }
            }
        }
    }

    &__popup-filter {
        @include text-size(body-2);
        padding: 4px 12px;

        border: none;

        border-bottom: 1px solid var(--g-color-line-generic);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    &__select:hover {
        width: 100%;
    }

    &__saved-only-button_savedOnly {
        @include monochrome-button();

        &:focus {
            color: var(--g-color-base-background);
        }
    }

    &__filter-item {
        margin-right: $indentXXXS;
        margin-left: $indentXXXS;
        margin-bottom: $indentXXS;
        min-width: 230px;
        flex-grow: 1;

        @media (min-width: map-get($gridBreakpoints, 'sm')) {
            max-width: 240px;
        }

        &_width-auto {
            width: auto;
            min-width: auto;
            flex-grow: 0;
        }
    }

    &__icon {
        color: var(--g-color-base-brand);

        &_savedOnly {
            color: var(--g-color-base-background);
        }
    }
}
