@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$namespace}search';

#{$block} {
    $root: &;
    $searchHeight: 44px;

    @include text-size(body-1);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    transition: width 0.3s;

    &__input-icon {
        display: flex;
        padding-right: 7px;
        border: none;
        font: inherit;
        background: none;
        color: var(--g-color-text-hint);
        cursor: pointer;

        &_close {
            padding-right: 5px;
        }
    }

    &__search-suggest {
        display: flex;
        align-items: center;

        height: $searchHeight;

        background-color: var(--g-color-base-background);

        border-radius: var(--bc-text-input-border-radius);
        border: 1px solid var(--g-color-base-background);

        &:hover,
        &:focus {
            border: 1px solid var(--g-color-base-generic-hover);
        }
    }

    #{$block} &__search-suggest-control {
        padding-left: $indentXXS;
        padding-right: $indentM;
    }

    &_size_s {
        --bc-text-input-border-radius: var(--g-border-radius-l);

        $searchHeight: 36px;
        $searchWidth: 352px;

        height: $searchHeight;
        width: $searchWidth;
        max-width: 100%;
    }

    &_size_m {
        --bc-text-input-border-radius: var(--g-border-radius-xl);
    }
}
