@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$namespace}search';

#{$block} {
    $root: &;
    $searchHeight: 44px;

    @include text-size(body-1);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: $searchHeight;

    transition: width 0.3s;

    &__close-button,
    &__search-button {
        position: absolute;
        z-index: 2;

        right: 10px;
        color: var(--yc-color-text-hint);
    }

    &__search-button:hover {
        color: var(--yc-color-text-secondary);
    }

    &__search-suggest-container {
        width: 100%;
    }

    #{$block} &__search-suggest-control {
        background-color: var(--yc-color-base-background);
        padding-left: $indentXXS;
        padding-right: $indentM;
        border-radius: var(--bc-text-input-border-radius);

        border: 1px solid transparent;

        &:hover,
        &:focus {
            border: 1px solid var(--yc-color-base-generic-hover);
        }
    }

    &_size_s {
        --bc-text-input-border-radius: var(--yc-my-border-radius-l);

        $searchHeight: 36px;
        $searchWidth: 352px;

        height: $searchHeight;
        width: $searchWidth;
        max-width: 100%;
    }

    &_size_m {
        --bc-text-input-border-radius: var(--yc-my-border-radius-xl);
    }
}
