@import './variables.scss';
@import '@gravity-ui/page-constructor/styles/mixins.scss';
@import '@gravity-ui/uikit/styles/mixins.scss';

@mixin paddings() {
    &_padding-top {
        &_xs {
            padding-top: 0px;
        }

        &_s {
            padding-top: $indentXS;
        }

        &_sm {
            padding-top: $indentSM;
        }

        &_m {
            padding-top: $indentM;
        }

        &_l {
            padding-top: $indentL;
        }

        &_xl {
            padding-top: $indentXL;
        }
    }

    &_padding-bottom {
        &_xs {
            padding-bottom: 0px;
        }

        &_s {
            padding-bottom: $indentXS;
        }

        &_sm {
            padding-bottom: $indentSM;
        }

        &_m {
            padding-bottom: $indentM;
        }

        &_l {
            padding-bottom: $indentL;
        }

        &_xl {
            padding-bottom: $indentXL;
        }
    }

    &_padding-left {
        &_xs {
            padding-left: 0px;
        }

        &_s {
            padding-left: $indentXS;
        }

        &_sm {
            padding-left: $indentSM;
        }

        &_m {
            padding-left: $indentM;
        }

        &_l {
            padding-left: $indentL;
        }

        &_xl {
            padding-left: $indentXL;
        }
    }

    &_padding-right {
        &_xs {
            padding-right: 0px;
        }

        &_s {
            padding-right: $indentXS;
        }

        &_sm {
            padding-right: $indentSM;
        }

        &_m {
            padding-right: $indentM;
        }

        &_l {
            padding-right: $indentL;
        }

        &_xl {
            padding-right: $indentXL;
        }
    }
}
