@import './variables.scss';
@import '@gravity-ui/page-constructor/styles/mixins.scss';
@import '@gravity-ui/uikit/styles/mixins.scss';

@mixin paddings() {
    &_padding-top {
        &_0 {
            padding-top: 0;
        }

        &_xs {
            padding-top: $indentXS;
        }

        &_s {
            padding-top: $indentSM;
        }

        &_m {
            padding-top: $indentM;
        }

        &_l {
            padding-top: $indentL;
        }

        &_xl {
            padding-top: $indentXL;
        }
    }

    &_padding-bottom {
        &_0 {
            padding-bottom: 0;
        }

        &_xs {
            padding-bottom: $indentXS;
        }

        &_s {
            padding-bottom: $indentSM;
        }

        &_m {
            padding-bottom: $indentM;
        }

        &_l {
            padding-bottom: $indentL;
        }

        &_xl {
            padding-bottom: $indentXL;
        }
    }
}
